[url "ssh://lihui.yao@gerritnj.globalwiko.com:29418"]
	insteadof = ssh://lihui.yao@wknj-gerritnj.wikophone.com:29418
	insteadof = http://lihui.yao@wknj-gerritnj.wikophone.com:9090

[url "https://mirrors.tuna.tsinghua.edu.cn/git/AOSP/"]
    insteadof = https://android.googlesource.com

#[url "https://ghproxy.com/https://github.com"]
#    insteadof = https://github.com
#    insteadof = http://github.com

[http]
	sslverify = false
[credential]
        helper = store --file  /mnt/c/Users/Administrator/.git-credentials
[user]
#	email = lihui.yao@chino-e.com
#	name = lihui.yao
    email = yaolihui888@163.com
    name = yaolihui
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit 
	st = status
	co = checkout
	ci = commit
	br = branch
	rs = reset
[color]
	ui = auto
[core]
	editor = vim
