<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fingerprints.imagetool"
    android:versionCode="0324"
    android:versionName="3.24">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.fingerprints.extension.ENGINEERING" />
    <uses-permission android:name="com.fingerprints.extension.NAVIGATION" />
    <uses-permission android:name="com.fingerprints.extension.SENSOR_TEST" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/fpc_icon"
        android:label="@string/app_name"
        android:theme="@style/FpcTheme">

        <uses-library android:name="com.fingerprints.extension" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
