
# file types
type silead_fpd_data_file, file_type, data_file_type;

# Device types
type silead_fpd_device, dev_type;

# property types
type silead_fp_prop, property_type;

allow fingerprintd silead_fpd_device:chr_file rw_file_perms;

allow fingerprintd self:netlink_socket { create read getattr write setattr lock append bind connect getopt setopt shutdown };
set_prop(fingerprintd, silead_fp_prop)

allow fingerprintd silead_fpd_data_file:file { create_file_perms };
allow fingerprintd silead_fpd_data_file:dir rw_dir_perms;

